<div id="home" class="big-bg">
  <div class="home-content wrapper">
    <div class="top-text">
      <h1>Welcome to Bake up!</h1>
      <h2>仲間を見つけて開業準備をはじめよう</h2>
      <p>Bake up!はパン、洋菓子店独立開業に向けて情報交換や同じ目標を持った仲間と交流ができるSNSです</p>
    </div>
  </div>
</div>