@import "bootstrap-sprockets";
@import "bootstrap";

body {

}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.home-content {
  text-align: center;
  margin-top: 4%;
  position: relative;
  p {
    font-size: 2rem;
    margin: 10px 0 42px;
  }
}
.top-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin: 23% 0 0 0 ;
  padding:0;
  color:#eaeaea

}

#home {
  background-image: image-url('main-bg.jpg');
  min-height: 100vh;
}

// TOP背景画像
.big-bg {
  background-size: cover;
  background-position: center top ;
  background-repeat: no-repeat;
}



h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 4em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.4em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777 ;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

// ヘッダー
.navbar ul{
  margin-top: 12px;
  margin-bottom: 12px;
}
 #logo  {
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
  img {
    width: 150px;
  }
}

// フッター
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea ;
  color: #777 ;
  small {
    float: center;
  }
}
