 <header class="navbar navbar-fixed-top navbar-expand-lg navbar-light bg-light">
   <div class="container">
     <%= link_to "Bake up", root_path, id: "logo", class: "navbar-brand text-dark" %>
     <nav>
       <ul class="nav navbar-nav navbar-right">
         <li><%= link_to "Home", root_path %></li>
         <li><%= link_to "ログイン", "#" %></li>
       </ul>
     </nav>
   </div>
 </header>